@use "@/shared/styles/mixins";

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  max-width: 208px;
  width: 100%;

  @include mixins.laptopDevice {
    display: none;
  }
}