@use "@/shared/styles/mixins";

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  max-width: 208px;
  width: 100%;

  @include mixins.laptopDevice {
    display: none;
  }
}

.create-recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 12px;
  width: 208px;
  height: 208px;
  background: radial-gradient(50% 50% at 50% 50%, #c4ff61 0%, rgba(255, 255, 255, 0) 100%);
}
