@use "@/shared/styles/mixins";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  text-align: center;
  border-radius: 6px;

  &-reverse {
    flex-direction: row-reverse;
  }
}

.primary {
  border: 1px solid rgba(0, 0, 0, 0.48);
  background: rgba(255, 255, 255, 0.06);
}

.secondary {
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: rgba(0, 0, 0, 0.92);
}

.success {
  background: var(--c-green-lime);
}

.outlined {
  background: transparent;
}

.text {
  padding: 0 5px;
  border: none;
  background: transparent;
}

.full-width {
  width: 100%;
}

.sm {
  padding: 6px 12px;

  @include mixins.laptopDevice {
    padding: 4px 8px;
  }
}

.md {
  padding: 10px 24px;

  @include mixins.laptopDevice {
    padding: 8px 16px;
  }
}