@use "@/shared/styles/mixins";

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  padding: 24px;
  border-radius: 12px;
  background-color: var(--c-white);

  @include mixins.tabletDevice() {
      row-gap: 12px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  column-gap: 12px;
}

.badge {
  align-self: flex-start;
  padding: 4px 8px;
  border-radius: 6px;
  border: 1px solid var(--c-black-soft);
  background-color: var(--c-white);
}

.note {
  flex-grow: 1;
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tag {
  position: absolute;
  top: 5px;
  right: 6px;
  font-size: 14px;
  padding: 1px 6px;
}