.select {
  width: 100%;
  z-index: 5;
}

.search {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 8px 8px 8px 24px;

  & input {
    padding: 5px 12px;
    font-size: 14px;
    line-height: 143%;
    color: var(--c-green-dark);

    &::placeholder {
      font-size: 14px;
    }
  }

  button {
    color: var(--c-green-primary);
  }
}

.allergens {
  display: flex;
  align-items: center;
  column-gap: 12px;
  white-space: nowrap;
}
