@use "@/shared/styles/mixins";

.container {
  max-width: 1360px;
  overflow: hidden;
  padding: 0 24px 20px;

  @include mixins.smallDesktopDevice() {
    max-width: none;
    padding: 0 16px 20px;
  }
}