.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  appearance: none;
  border: 2px solid var(--c-green-lime-soft);
  cursor: pointer;

  &:after {
    content: "";
    background-image: url("@/shared/assets/icons/check-icon.svg");
    display: none;
    width: 9px;
    height: 8px;
  }

  &:checked {
    background-color: var(--c-green-lime);
    border-color: var(--c-green-lime);

    &:after {
      display: block;
    }
  }
}