.card {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  overflow: hidden;
  height: 100%;

  &-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px 24px;
  }

  &-labels {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-description {
    width: 100%;
    margin: 8px 0 24px 0;
    word-break: break-word;
  }
}

.column {
  flex-direction: column;
  min-height: 220px;
  max-height: 414px;

  .image-wrapper {
    position: relative;
    width: 100%;
    padding-top: 72%;
  }

  .card-description {
    flex-grow: 1;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.row {
  .image-wrapper {
    width: 50%;
  }

  .card-content {
    width: 50%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-labels {
    order: 1;
    margin-bottom: 24px;
  }

  .card-description {
    order: 3;
  }

  .card-title {
    order: 2;
  }
}