@use "@/shared/styles/mixins";

.card {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow .2s ease;

  @include mixins.hoverOnly {
    &:hover {
      box-shadow: 0 10px 15px -3px rgba(32, 126, 0, 0.18), 0 4px 6px -4px rgba(32, 126, 0, 0.25);
    }
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 24px;

    @include mixins.laptopDevice {
      padding: 8px;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @include mixins.laptopDevice {
      row-gap: 8px;
    }
  }

  &-labels {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--stats {
      margin-left: auto;

      @include mixins.laptopDevice {
        margin-left: 0;
      }
    }
  }

  &-description {
    width: 100%;
    margin: 8px 0 24px 0;
    word-break: break-word;

    &--hide {
      display: none;
    }

    @include mixins.laptopDevice {
      font-size: var(--fs-sm);
      line-height: 143%;
    }
  }
}

.column {
  flex-direction: column;
  max-height: 414px;

  .card-wrapper {
    height: 100%;
  }

  .image-wrapper {
    position: relative;
    width: 100%;
    padding-top: 72%;
  }

  .card-description {
    flex-grow: 1;
  }

  .card-title {
    font-weight: var(--fw-medium);
    font-size: var(--fs-xl);
    line-height: 140%;

    @include mixins.laptopDevice {
      font-size: var(--fs-text);
      line-height: 150%;
    }
  }

  .card-labels {
    margin-top: auto;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.row {
  .image-wrapper {
    width: 50%;

    @include mixins.mobileDevice {
      width: 40%;
    }
  }

  .card-wrapper {
    width: 50%;

    @include mixins.mobileDevice {
      width: 60%;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-labels {
    order: 1;


    @include mixins.laptopDevice {
      margin-bottom: 0;
    }
  }

  .card-description {
    order: 3;
  }

  .card-title {
    order: 2;
  }
}