.row {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 24px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  transition: box-shadow .2s ease;

  &:hover {
    box-shadow: 0 10px 15px -3px rgba(32, 126, 0, 0.18), 0 4px 6px -4px rgba(32, 126, 0, 0.25);
  }
}

.text {
  flex-grow: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-width: 150px;
}

.icon {
  width: 24px;
  height: 24px;
}

.button {
  border-color: var(--c-green-primary);
}