.notification {
  width: 100%;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  column-gap: 12px;
  color: white;
  border-radius: 5px;

  &-success {
    background-color: var(--c-green-emerald);
  }

  &-error {
    background-color: var(--c-red-primary);
  }

  &-icon {
    flex-shrink: 0;
  }

  &-close {
    position: absolute;
    top: 12px;
    right: 12px;
  }
}
