@use "@/shared/styles/mixins";

.container {
  width: 100%;
}

.input-group {
  display: flex;
}

.input-wrapper {
  display: flex;
  width: 100%;
  background-color: var(--c-white);
  transition: border .3s ease-in-out;
  overflow: hidden;

  @include mixins.laptopDevice {
    height: 32px;
  }
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  color: var(--c-black);
  line-height: 150%;
  width: 100%;
}

.input {
  width: 100%;

  @include mixins.laptopDevice {
    padding: 7px 12px;
  }

  &::placeholder {
    font-size: var(--fs-lg);

    @include mixins.laptopDevice {
      font-size: var(--fs-sm);
    }
  }
}

.helperText {
  font-size: var(--fs-xs);
  line-height: 133%;
  color: var(--c-black);
  opacity: 0.64;
}

.primary {
  .input-wrapper {
    border: 1px solid var(--c-green-lime-soft);
  }

  .input::placeholder {
    color: var(--c-green-dark);
  }
}

.secondary {
  .input-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.08);
  }

  .input::placeholder {
    color: var(--c-gray-light);
  }
}

.medium {
  .input-wrapper {
    border-radius: 6px;
  }

  .input {
    padding: 13px 16px;
  }
}

.small {
  .input-wrapper {
    border-radius: 4px;
  }

  .input {
    padding: 8px 16px;
  }
}

.error {
  .input-wrapper {
    border: 1px solid var(--c-red-primary);
  }

  &-text {
    position: absolute;
    bottom: -16px;
    opacity: 0.9;
  }
}