@use "@/shared/styles/mixins";

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 66%;
  padding: 32px 30px;
  margin: 0 auto;
  border-radius: 24px;
  transition: box-shadow 0.4s ease;

  @include mixins.hoverOnly() {
    &:hover {
      box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.04), 0 20px 25px -5px rgba(0, 0, 0, 0.1);
    }
  }

  @include mixins.smallDesktopDevice() {
    max-width: none;
    padding: 16px 0 0 0;
  }
}

.description {
  margin-top: 12px;
  max-width: 700px;
  color: rgba(0, 0, 0, 0.48);
}

.search {
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin-top: 32px;
  width: 100%;

  @include mixins.smallDesktopDevice() {
    margin-top: 16px;
  }
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 16px;
  max-width: 520px;
  width: 100%;
}

.input {
  border-color: rgba(0, 0, 0, 0.48);
}

.filters {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-top: 16px;
  width: 100%;

  @include mixins.laptopDevice {
    display: none;
  }
}

.icon {
  @include mixins.laptopDevice {
    padding: 9px;

    svg {
      width: 14px;
      height: 14px;
    }
  }
}