.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 66%;
  padding: 32px 30px;
  margin: 0 auto;
  border-radius: 24px;
  transition: box-shadow 0.4s ease;

  &:hover {
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.04), 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  }
}

.description {
  margin-top: 12px;
  max-width: 700px;
  color: rgba(0, 0, 0, 0.48);
}

.search {
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin-top: 32px;
  width: 100%;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 16px;
  max-width: 520px;
  width: 100%;
}

.input {
  border-color: rgba(0, 0, 0, 0.48);
}

.filters {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-top: 16px;
  width: 100%;
}