.title {
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  line-height: 100%;
  text-align: center;
  color: var(--c-black);
}

.text {
  font-size: var(--fs-text);
  font-weight: var(--fw-medium);
  line-height: 150%;
}

.xxl {
  font-size: var(--fs-2xl);
  line-height: 133%;
}

.lg {
  font-size: var(--fs-lg);
  font-weight: var(--fw-medium);
  line-height: 156%;
}

.sm {
  font-size: var(--fs-sm);
  line-height: 143%;
}

.xs {
  font-size: var(--fs-xs);
  line-height: 133%;
  white-space: pre-wrap;
}

.font-regular {
  font-weight: var(--fw-regular);
}

.font-medium {
  font-weight: var(--fw-medium);
}

.font-semibold {
  font-weight: var(--fw-semi-bold);
}

.font-bold {
  font-weight: var(--fw-bold);
}