@use "@/shared/styles/mixins";

.container {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	padding: 24px;
	border-radius: 16px;
	background-color: var(--c-green-neon);
	container-name: blogs-list;
	container-type: inline-size;

	@include mixins.tabletDevice() {
		margin-top: 32px;
		padding: 12px;
		row-gap: 12px;
	}
}

.top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.button:hover .icon {
	transform: rotate(180deg) translate(-3px);
}

.icon {
	width: 16px;
	height: 16px;
	transform: rotate(180deg);
	transition: transform 0.2s ease-in-out;
}

.list {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	column-gap: 16px;
	row-gap: 16px;

	@include mixins.tabletDevice() {
		gap: 12px;
	}
}

@container blogs-list (max-width: 750px) {
	.list {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.list > :nth-child(3) {
		grid-column: 1 / -1;
	}
}


@container blogs-list (max-width: 500px) {
	.list {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
}