.button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background .3s ease-in-out;
}

.inherit {
  padding: 0;
}

.xs {
  padding: 6px;
}

.sm {
  padding: 12px;
}

.md {
  padding: 15px;
}

.lg {
  padding: 20px;
}

.ghost {
  background: transparent;
  color: inherit;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}

.outline {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.48);
}