@use "@/shared/styles/mixins";

.section {
  margin-top: 56px;
  display: flex;
  align-items: center;
  column-gap: 24px;
  row-gap: 16px;
  overflow: hidden;
  height: 410px;

  @include mixins.desktopDevice() {
    height: auto;
    column-gap: 16px;
  }

  @include mixins.mobileDevice() {
    flex-direction: column;
    align-items: start;
  }
}

.uploader {
  max-width: 555px;
  width: 41%;
  min-width: 230px;
  border-radius: 8px;

  @include mixins.desktopDevice() {
    align-self: start;
    height: 230px;
  }

  @include mixins.mobileDevice() {
    width: 100%;
  }

  & > div {
    @include mixins.tabletDevice() {
      width: 100%;
      max-width: none;
    }
  }
}

.meta {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  height: 100%;

  @include mixins.desktopDevice() {
    row-gap: 16px;
  }

  @include mixins.mobileDevice() {
    width: 100%;
  }
}

.categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 12px;
  align-self: start;
  margin-top: 8px;

  & > div {
    width: 350px;
    flex-shrink: 0;
    white-space: nowrap;


    @include mixins.desktopDevice() {
      width: 230px;
    }
  }

  @include mixins.mobileDevice() {
    width: 100%;
    justify-content: space-between;
  }
}

.input {
  input::placeholder {
    color: rgba(0, 0, 0, 0.64);
  }
}

.counter {
  display: flex;
  align-items: center;
  column-gap: 24px;

  @include mixins.desktopDevice() {
    column-gap: 16px;
  }
}

.value-container {
  flex-wrap: nowrap !important;
}

.option {
  padding: 3px 7px;
}