.container {
  position: relative;
  height: 100%;
  overflow: hidden;
  cursor: pointer;

  input {
    display: none;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}