.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
}


.error {
  background: rgba(0, 0, 0, 0.08);

  .image {
    display: none;
  }
}
