.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.preview {
  width: 206px;
  height: 206px;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;

  input {
    display: none;
  }
}
