@use "@/shared/styles/mixins";

.drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  max-width: 465px;
  width: 100%;
  padding: 27px;
  background-color: var(--c-white);
  z-index: 15;
  height: 100vh;

  @include mixins.laptopDevice {
    max-width: 344px;
    padding: 11px;
  }
}

.container {
  height: 100%;
  overflow: auto;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 2.22vh;
  padding: 0 5px;
  height: 100%;
}

.allergens {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
  margin-top: auto;

  @include mixins.laptopDevice {
    button {
      padding: 6px 12px;
      font-size: var(--fs-sm);
      line-height: 143%;
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 8px;
}