@use "@/shared/styles/mixins";

.allergens {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
  margin-top: auto;

  @include mixins.laptopDevice {
    button {
      padding: 6px 12px;
      font-size: var(--fs-sm);
      line-height: 143%;
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 8px;
}