@use "@/shared/styles/mixins";

.section {
  margin-top: 30px;

  @include mixins.laptopDevice {
    margin-top: 16px;
  }
}

.slider {
  position: relative;
  margin-top: 24px;

  @include mixins.laptopDevice {
    margin-top: 12px;
    button {
      display: none;
    }
  }
}

.slide {
  height: auto;
}

.card {
  height: 100%;
}

.nav-button {
  position: absolute;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  top: 50%;
  left: -5px;
  height: 48px;
  background-color: var(--c-black);
  color: var(--c-cream);
  border-radius: 6px;
  transform: translate(0, -50%);
  z-index: 10;

  &--right {
    left: unset;
    right: -5px;

    & svg {
      transform: rotate(180deg);
    }
  }
}