@use "@/shared/styles/mixins";

.container {
  display: flex;
  align-items: center;
  column-gap: 24px;
  row-gap: 16px;
  overflow: hidden;
  margin-top: 56px;
  width: 100%;
  height: 410px;

  @include mixins.laptopDevice() {
    margin-top: 16px;
    height: auto;
  }

  @include mixins.tabletDevice() {
    flex-wrap: wrap;
  }
}

.image {
  position: relative;
  max-width: 555px;
  width: 41%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;

  @include mixins.tabletDevice() {
    width: 100%;
    max-width: none;
    height: 224px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  width: 57%;
  height: 100%;
  row-gap: 12px;

  @include mixins.tabletDevice() {
    width: 100%;
    min-width: 360px;
  }


  &__categories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 16px;
    row-gap: 8px;
  }

  &__category {
    width: max-content;

    img {
      width: 20px;
      height: 20px;
    }
  }

  &__top {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  &__text {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    row-gap: 15px;
    flex-grow: 1;

    h1 {
      text-align: start;
      max-width: 440px;
    }

    span {
      max-width: 530px;
    }
  }

  &__desc {
    max-height: 190px;
    overflow: auto;

    @include mixins.tabletDevice() {
      max-height: none;
    }
  }

  &__time {
    background: rgba(0, 0, 0, 0.06);
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
    row-gap: 12px;
    align-items: end;
    flex-wrap: wrap;
  }
}

.actions {
  display: flex;
  align-items: center;
  column-gap: 16px;

  @include mixins.desktopDevice() {
    button {
      padding: 4px 8px;

      p {
        font-size: var(--fs-sm);
      }
    }
  }
}