.password-forgot {
  white-space: pre-line;

  &-content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &-button {
    margin-top: 8px;
  }

  &-image {
    max-width: 206px;
    align-self: center;
  }

  &-notice {
    color: rgba(0, 0, 0, 0.48);
  }
}