@use '@/shared/styles/mixins';

.avatar {
  border-radius: 9999px;
  background: #a0aec0;
}

.medium {
  width: 48px;
  height: 48px;

  @include mixins.tabletDevice() {
    width: 32px;
    height: 32px;
  }
}

.large {
  width: 128px;
  height: 128px;
}

.hide {
  display: none;
}
