.user-stats {
  display: flex;
}

.item {
  display: flex;
  align-items: center;
}

.row {
  align-items: center;
  column-gap: 6px;
}

.column {
  flex-direction: column;
}

.small {
  & > .item {
    column-gap: 8px;
  }
}

.medium {
  row-gap: 24px;
  padding: 16px 0;

  & > .item {
    padding: 8px 16px;
    column-gap: 8px;
  }
}