.textarea {
  padding: 8px 12px;
  border: 1px solid #e2e8f0;
  border-radius: 6px;
  outline: none;
  resize: none;

  &::placeholder {
    font-size: var(--fs-sm);
    color: rgba(0, 0, 0, 0.64);
  }
}
