.form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.buttons {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-top: 100px;
}

.error {
  &-image {
    align-self: center;
    max-width: 206px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    white-space: pre-line;
    text-align: center;
  }
}