.verification {
  text-align: center;
  white-space: pre-line;

  &-content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &-email {
    font-weight: 600;
  }

  &-image {
    max-width: 206px;
    align-self: center;
  }

  &-notice {
    color: rgba(0, 0, 0, 0.48);
  }
}