@use "@/shared/styles/mixins";

.img {
  width: 270px;
  height: 64px;
  margin-bottom: 40px;

  @include mixins.tabletDevice() {
    width: 158px;
    height: 38px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  padding-top: 170px;

  @include mixins.tabletDevice() {
    padding-top: 140px;
  }

  @include mixins.mobileDevice() {
    padding-top: 72px;
  }
}