@use "@/shared/styles/mixins";

.img {
  width: 270px;
  height: 64px;
  margin-bottom: 40px;
  flex-shrink: 0;

  @include mixins.tabletDevice() {
    width: 158px;
    height: 38px;
    margin-bottom: 16px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  row-gap: 40px;
  padding-top: 154px;
  overflow-y: scroll;

  @include mixins.tabletDevice() {
    padding-top: 124px;
  }

  @include mixins.mobileDevice() {
    padding-top: 56px;
  }
}

.form {
  max-width: 460px;
  width: 100%;
}

.text {
  margin: auto 0 14px 14px;
  align-self: start;
}