@use "@/shared/styles/mixins";

.img {
  width: 270px;
  height: 64px;

  @include mixins.tabletDevice() {
    width: 158px;
    height: 38px;
  }
}

.content {
  display: flex;
  justify-content: center;
  padding-top: 170px;

  @include mixins.tabletDevice() {
    padding-top: 140px;
  }

  @include mixins.mobileDevice() {
    padding-top: 72px;
  }
}