@use "@/shared/styles/mixins";

.img {
  width: 270px;
  height: 64px;
  margin-bottom: 40px;

  @include mixins.tabletDevice() {
    width: 158px;
    height: 38px;
    margin-bottom: 16px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  padding-top: 154px;

  @include mixins.tabletDevice() {
    padding-top: 124px;
  }

  @include mixins.mobileDevice() {
    padding-top: 56px;
  }
}

.form {
  max-width: 460px;
  width: 100%;
}