.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
}

.main {
  display: flex;
  overflow: hidden;
  height: 100%;
}

.content {
  width: 100%;
  overflow-y: auto;
}