.verification {
  white-space: pre-wrap;

  &-content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &-email {
    font-weight: 600;
  }

  &-image {
    max-width: 206px;
    align-self: center;
  }

  &-notice {
    color: rgba(0, 0, 0, 0.48);
  }
}

.otp {
  display: flex;
  align-items: center;
  margin: 0 auto;

  &-content {
    display: flex;
    column-gap: 6px;
  }

  &-slot {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 300ms ease;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    padding: 0 16px;
    width: 40px;
    height: 40px;

    font-size: 14px;
    font-weight: 500;
    line-height: 143%;
    text-align: center;
    color: var(--c-green-dark);

    &--error {
      border-color: var(--c-red-primary);
    }

    &--active {
      border-color: var(--c-green-primary);
    }

    &--empty::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      border: 1px var(--c-green-dark) solid;
    }
  }
}