@use "@/shared/styles/mixins";

.title {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 80px 225px auto;
  gap: 16px;
  margin-top: 16px;
  align-items: center;

  @include mixins.tabletDevice() {
    gap: 12px;
  }

  @include mixins.mobileDevice() {
    grid-template-columns: 80px 1fr 32px;
    grid-template-rows: repeat(2, auto);
    & > p, span {
      display: none;
    }
  }
}

.add {
  svg {
    width: 32px;
    height: 32px;
  }
}

.remove {
  color: var(--c-green-primary);
}

.ingredient {
  @include mixins.mobileDevice() {
    grid-column-start: 1;
    grid-column-end: 5;
  }
}