@use "@/shared/styles/mixins";

.number-stepper {
  position: relative;
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--c-gray-light);
  border-radius: 6px;
}

.number-stepper input {
  width: 90px;
  padding: 8px 32px 8px 16px;
  line-height: 150%;
  overflow: hidden;
  border: none;
  font-weight: 600;
  -moz-appearance: textfield;
  text-align: start;
}

.number-stepper input::-webkit-outer-spin-button,
.number-stepper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.stepper-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  padding: 7px 7px;
  border: none;
  cursor: pointer;
  transition: background 0.15s;
  border-left: 1px solid var(--c-gray-light);

  @include mixins.hoverOnly() {
    background: #e5e7eb;
  }

  &.decrement {
    bottom: 0;

    & svg {
      transform: rotate(180deg);
    }
  }

  &.increment {
    top: 0;
    border-bottom: 1px solid var(--c-gray-light);
  }
}

.stepper-btn:active {
  background: #d1d5db;
}
