.section {
  margin-top: 40px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
}

.title {
  white-space: nowrap;
}

.description {
  max-width: 50%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-auto-rows: 1fr;
  gap: 24px;
}

.rows {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}