@use "@/shared/styles/mixins";

.section {
  margin-top: 40px;

  @include mixins.laptopDevice {
    margin-top: 32px;
  }
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  @include mixins.laptopDevice {
    flex-direction: column;
    row-gap: 12px;
    align-items: start;
    margin-bottom: 16px;
  }
}

.title {
  white-space: nowrap;
}

.description {
  max-width: 50%;

  @include mixins.laptopDevice {
    max-width: 100%;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  & > div {
    flex: 1 1 320px;
  }

  @include mixins.laptopDevice {
    gap: 12px;
  }
}

.rows {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 300px;
}