:root {
  /* Colors */
  --c-black: #000;
  --c-black-overlay: #000000A3;
  --c-white: #FFF;
  --c-green-primary: #2db100;
  --c-green-secondary: #207e00;
  --c-green-light: #eaffc7;
  --c-green-dark: #134b00;
  --c-green-lime: #b1ff2e;
  --c-green-lime-soft: #d7ff94;
  --c-green-neon: #c4ff61;
  --c-green-emerald: #38a169;
  --c-cream: #ffffd3;
  --c-red-primary: #e53e3e;

  /* Font Family */
  --ff-inter: 'Inter', sans-serif;
  --ff-roboto: 'Roboto', sans-serif;

  /* Font Sizes */
  --fs-h1: 3rem; /* 48px */
  --fs-2xl: 1.5rem; /* 24px */
  --fs-lg: 1.125rem; /* 18px */
  --fs-text: 1rem; /* 16px */
  --fs-xs: 0.75rem; /* 12px */

  /* Font Weights */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}
