@use "variables";
@use "fonts";
@use "breakpoints";

@layer global {
  html,
  body {
    font-size: 16px;
  }

  * {
    font-family: var(--ff-inter);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  img {
    width: 100%;
    height: 100%;
  }

  a {
    outline: none;
    text-decoration: none;
  }

  li {
    list-style: none;
  }
}
