@use "variables";
@use "fonts";
@use "breakpoints";
@use 'swiper/css';
@use 'swiper/css/navigation';

@layer global {
  html,
  body {
    font-size: 16px;
  }

  * {
    font-family: var(--ff-inter);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  p,
  div,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--c-black);
  }

  img {
    width: 100%;
    height: 100%;
  }

  a {
    outline: none;
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    font: inherit;
    color: inherit;
    appearance: none;
  }

  button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
    appearance: none;
  }

  .scroll-fixed {
    overflow: hidden;
  }

  .Toastify__toast {
    width: 400px !important;
    background: transparent !important;
    padding: 0 !important;
    box-shadow: none !important;
    min-height: 0 !important;
  }

  .text-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.control-error {
  .primary__control,
  .secondary__control {
    border: 1px solid var(--c-red-primary) !important;

    &--is-focused {
      box-shadow: none !important;
    }
  }
}
