@use "breakpoints";

@mixin desktopDevice() {
  @media screen and (max-width: breakpoints.$xxl) {
    @content;
  }
}

@mixin smallDesktopDevice() {
  @media screen and (max-width: breakpoints.$xl) {
    @content;
  }
}

@mixin laptopDevice() {
  @media screen and (max-width: breakpoints.$lg) {
    @content;
  }
}

@mixin tabletDevice() {
  @media screen and (max-width: breakpoints.$md) {
    @content;
  }
}

@mixin mobileDevice() {
  @media screen and (max-width: breakpoints.$sm) {
    @content;
  }
}

@mixin hoverOnly() {
  @media (hover: hover) {
    @content;
  }
}