.sidebar {
  display: flex;
  flex-direction: column;
  max-width: 256px;
  padding-top: 12px;
  height: 100%;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);

  &-bottom {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 32px 24px;
  }
}